/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* gamescreen */

.gamecontainer {
  height: 600px;
  width: 800px;
  margin: auto;
  border: 2px solid black;
}
.gamescreen {
  height: 500px;
  background-image: url(battlescreen.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.gamemenu {
  border-top: 1px solid black;
  height: 100px;
}

.playerStats {
  background-color: white;
  width: 120px;
  transform: translate(10px, 370px);
  border: 2px solid black;
  padding-left: 1rem;
}

.OpStats {
  background-color: white;
  width: 120px;
  transform: translate(350px, 0px);
  border: 2px solid black;
  padding-left: 1rem;
}

.player-pokemon {
  height: 200px;
  width: 200px;

  transform: translate(140px, 50px);
}

.op-pokemon {
  height: 200px;
  width: 200px;
  /* background-color: red; */
  /* background-image: url("op-pokemon/snorlax.gif"); */
  transform: translate(500px, -300px);
  background-size: cover;
}
